* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #2d2d2d;
  color: white;
  background-blend-mode: hue;
  height: 100vh;
  overflow: hidden;
}
#app {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
#save-btn {
  background: none;
  border: 3px solid white;
  margin: 0 12px;
}
#reset-btn:hover,
#increment-btn:hover {
  background: none;
  border: 3px solid white;
}
#save-btn:hover {
  background-color: green;
}
button {
  cursor: pointer;
  padding: 20px 30px;
  margin-top: 20px;
  font-size: 23px;
  border: none;
  background: crimson;
  border-radius: 10px 5px;
  color: white;
}

h2 {
  margin-top: 10px;
  font-size: 3rem;
}
#para {
  margin-top: 20px;
  font-size: 25px;
}
